[submodule "LibRaw-cmake"]
	path = LibRaw-cmake
	url = https://github.com/LibRaw/LibRaw-cmake.git
[submodule "LibRaw"]
	path = LibRaw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "asyncplusplus"]
	path = asyncplusplus
	url = git@github.com:Amanieu/asyncplusplus.git
[submodule "date"]
	path = date
	url = git@github.com:HowardHinnant/date.git
